<!-- @ARTICLETITLE:Index Cards -->
<!-- @ARTICLEPUBLISH:true -->
<!-- @ARTICLEPUBLISHDATE:07|31|2022 -->
<!-- @ARTICLEAUTHOR:Jesse Smith -->
<!-- @ARTICLETAGS:Examples -->
<!-- @ARTICLESUMMARY:The TSG indexer creates an index card for each published article... -->

<p>The TSG indexer creates an index card for each published article.  These cards show up on the index page for the category.</p>
<p>Each index card shows a summary of the article.  Users can click on the title of the card to read the article.</p>
