/*******************************************************************************
* tsg-light theme for Tiny Site Generator
* Copyright © 2022 Jesse Smith (jesse@tinyplace.net) - All Rights Reserved.
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program.  If not, see <https://www.gnu.org/licenses/>.
*******************************************************************************/

:root {
    --background-color-0: #80A2C0;
    --background-color-1: #FFFFFF;
    --background-color-2: #DCE6EE;
    --color-0: #15212C;
    --color-1: #F4F7F9;
	--content-font: 'Verdana', sans-serif;
	--header-font: 'Courier New', monospace;
}

body {
    color: var(--color-0);
    background-color: var(--background-color-0);
    font-family: var(--content-font);
    margin-left: 2%;
}

.tb-header {
    margin-bottom: 20px;
}

.tb-header-title {
    color: var(--color-1);
    text-decoration: none;
    font-family: var(--header-font);
}

.tb-nav {
	display: block;
	padding: 5px;
    margin-left: 2%;
}

.tb-nav-button {
    border: 1px solid;
    border-radius: 3px;
    border-color: var(--background-color-1);
    background-color: var(--background-color-0);
    color: var(--color-1);
    font-family: var(--header-font);
    font-size: 16px;
    padding: 5px;
	text-decoration: none;
}

.tb-nav-button:hover {
    background-color: var(--background-color-1);
    color: var(--color-0);
}

.tb-nav-button-selected {
    border: 1px solid;
    border-radius: 3px;
    border-color: var(--background-color-1);
    background-color: var(--background-color-1);
    color: var(--color-0);
    font-family: var(--header-font);
    font-size: 16px;
    padding: 5px;
}

.tb-main {
	display: block;
    background-color: var(--background-color-1);
    padding: 10px 2% 10px 2%;
    margin: 0px 10% 0px 2%;
}

.tb-article-title {
    color: var(--color-0);
    padding: 0px;
    margin: 5px 0px;
}

.tb-article-content {
    padding: 10px;
}

.tb-footnote {
    color: var(--color-1);
}

.tb-index-card {
    border: 2px solid;
    border-radius: 3px;
    border-color: var(--background-color-2);
    padding: 10px 2% 10px 2%;
    margin: 10px 0px;
}

.tb-footer {
    margin-top: 20px;
}

/* Copyright © 2022 Jesse Smith (jess@tinyplace.net) - All Rights Reserved. */
