<article class="tb-article">
	<h2 class="tb-article-title">About TSG</h2>
	<p>I wrote TSG to be lightweight and independent.  Static site generation already removes the need for backend databases and server side code from the deployment of static content.  To make it even simpler, I chose to write the entire thing in C using only the C standard library.  The installation requires only the binary and a theme.  No package managers, no workflow scripting, no Python, no Node.js, no databases, no Wordpress, just TSG and plain, elegant HTML.</p>
</article>
<aside class="tb-aside">
	<h3>Contact: jesse@tinyplace.net</h3>
</aside>
