<article class="tb-article">
	<h2 class="tb-article-title">Welcome to TSG!</h2>
	<h3 class="tb-article-subtitle">Published 07/30/22</h3>
    <p>Welcome to TSG, the Tiny Site Generator.  TSG is a command line to for generating static web sites.  This simple tool builds full static websites from a collection of stub pages and metadata greatly reducing the complexity of building and maintaing static websites.</p>
</article>
<aside class="tb-aside">
	<h3>Please enjoy!</h3>
</aside>
