<article class="tb-article">
	<h2 class="tb-article-title"><!-- @ARTICLETITLE --></h2>
	<h3 class="tb-article-subtitle"><!-- @ARTICLEPUBLISHDATE --> <!-- @ARTICLETAGS --></h3>
	<section class="tb-article-content">
		<!-- @ARTICLECONTENT -->
	</section>
</article>
<aside class="tb-aside">
	<h3>Article by <!-- @ARTICLEAUTHOR --></h3>
</aside>
<nav class="tb-article-nav">
	<a href="<!-- @ARTICLEPREVURL -->">< Prev</a>|
	<a href="<!-- @ARTICLENEXTURL -->">Next ></a>
</nav>
