<div class="tb-index-card">
		<h2 class="tb-article-title"><a href="<!-- @ARTICLEURL -->"><!-- @ARTICLETITLE --></a></h2>
		<h4 class="tb-article-subtitle"><!-- @ARTICLEPUBLISHDATE --> <!-- @ARTICLETAGS --></h4>
		<!-- @ARTICLESUMMARY -->
	<aside class="tb-aside">
		<h4>Article by <!-- @ARTICLEAUTHOR --></h4>
	</aside>
</div>